/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, blue , white);
    min-height: 100vh;
  }
  .auth-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}